<br >
<br >

<table class="table table-default table-striped">

	<thead>
		<td>S/No</td>
		<td>Name</td>
		<td>Email</td>
		<td>Actions</td>
	</thead>
	<tbody>
		<tr ng-repeat="conatct in contacts">
			<td>1</td>
			<td>Umair Khan</td>
			<td>abc@example.com</td>
			<td>
				<button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</button>
				<button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
			</td>
		</tr>
	</tbody>
</table>